*{
	margin: 0;
	padding: 0;
}
table{
	height:400px;
	width:400px;
	border-collapse: collapse;
	margin:auto;
	vertical-align:middle;
}
td{
	border :solid 2px;
	width:33%;
	height:33%;
}

.player1 {
	background-image: url("clinton.png");
	background-size: 133px 133px;
}
.player2 {
	background-image: url("trump.png");
	background-size: 133px 133px;
}